<div>
  <div>
    <h1>
      Project safe #<%= @the_project_safe.id %> details
    </h1>

    <div>
      <div>
        <a href="/project_saves">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_project_safe/<%= @the_project_safe.id %>">
          Delete project safe
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Element
      </dt>
      <dd>
        <%= @the_project_safe.element_id %>
      </dd>

      <dt>
        Material
      </dt>
      <dd>
        <%= @the_project_safe.material_id %>
      </dd>

      <dt>
        Approval requests count
      </dt>
      <dd>
        <%= @the_project_safe.approval_requests_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_project_safe.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_project_safe.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit project safe
    </h2>

    <form action="/modify_project_safe/<%= @the_project_safe.id %>"  method="post" >
      <div>
        <label for="element_id_box">
          Element
        </label>

        <input type="text" id="element_id_box" name="query_element_id" value="<%= @the_project_safe.element_id %>">
      </div>

      <div>
        <label for="material_id_box">
          Material
        </label>

        <input type="text" id="material_id_box" name="query_material_id" value="<%= @the_project_safe.material_id %>">
      </div>

      <div>
        <label for="approval_requests_count_box">
          Approval requests count
        </label>

        <input type="text" id="approval_requests_count_box" name="query_approval_requests_count" value="<%= @the_project_safe.approval_requests_count %>">
      </div>

      <button>
        Update project safe
      </button>
    </form>
  </div>
</div>

<hr>
