<div class="container-fluid mb-2">
  <div class="row">
    <div class="col">
      <div class="card mat-card">
        <a href="/materials/<%= the_element.material.id %>"><img src="<%= Material.where({ :id => the_element.material_id }).first.photo_ref%>" class="card-img-top material" alt="..." style="border-top-left-radius: 10px; border-top-right-radius: 10px"></a>
          <div class="card-body">
            <h6 class="card-subtitle mb-2"><%= the_element.name %></h6>
            <p class="small text-muted"><strong><%= the_element.material.name %></strong></p>
            <a href="/delete_element/<%= the_element.id %>"><button class="btn btn-outline-danger btn-sm">Remove from Space <i class="far fa-times-circle"></i></button></a>
          </div>
      </div>
    </div>
  </div>
</div>