<div class="container-fluid mb-2">
  <div class="row">
    <div class="col">
      <div class="card material">
        <a href="/materials/<%= the_element.material.id %>"><img src="<%= Material.where({ :id => the_element.material_id }).first.photo_ref%>" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h6 class="card-subtitle mb-2"><%= the_element.name %></h6>
            <p class="small text-muted"><strong><%= the_element.material.name %></strong></p>
            <a href="/delete_element/<%= the_element.id %>" style="color: red"><i class="far fa-times-circle"></i></a>
          </div>
      </div>
    </div>
  </div>
</div>