<div class="accordion accordion-flush" id="palettesaccordian">
  <% @list_of_palettes.each do |a_palette| %>
  
  <div class="accordion-item">
    
    <h2 class="accordion-header" id="<%= a_palette.id%>_<%=a_palette.palette_name%>">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#<%=a_palette.palette_name%>_<%=a_palette.id%>" aria-expanded="false" aria-controls="<%=a_palette.palette_name%>_<%=a_palette.id%>">
        <%= a_palette.palette_name%>
      </button>
    </h2>

    <div id="<%=a_palette.palette_name%>_<%=a_palette.id%>" class="accordion-collapse collapse" aria-labelledby="<%= a_palette.id%>_<%=a_palette.palette_name%>" data-bs-parent="#palettesaccordian">
      <div class="accordion-body">
        <div class="row fluid">
          <%@list_of_palette_saves.each do |a_save|%>
            <% if a_palette.id == a_save.palette_id %>
              <div class="col-4 mt-2">

                <a href="/materials/<%=a_save.material.id%>">
                <img src="<%=a_save.material.photo_ref%>" class="img-fluid rounded palette" width="125" height="125">
                </a>
              
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  </div>

  <% end %>

</div>