<div class="accordion accordion-flush" id="palettesaccordian">
  <% @current_user.palettes.each do |a_palette| %>
  
  <div class="accordion-item">
    
    <h2 class="accordion-header" id="palette_<%= a_palette.id %>_header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#palette_<%=a_palette.id%>" aria-expanded="false" aria-controls="#palette_<%=a_palette.id%>">
        <%= a_palette.palette_name %>
      </button>
    </h2>

    <div id="palette_<%=a_palette.id%>" class="accordion-collapse collapse" aria-labelledby="palette_<%=a_palette.id%>" data-bs-parent="#palettesaccordian">
      <div class="accordion-body">
        <div class="row fluid">
          <% a_palette.palette_saves.each do |a_save|%>

        <div class="col-4 mt-2">
          <div class="card accordianmat">
            <img src="<%=a_save.material.photo_ref%>" class="card-img-top" alt="..." style="border-radius: 10px">
              <div class="over_palette">
                <div class="imgpos">
                  <a href="#modal_for_palette_save_<%= a_save.id %>" data-bs-toggle="modal" data-bs-target="#modal_for_palette_save_<%= a_save.id %>" style="color: black"><i class="fas fa-plus-circle"></i></a>
                </div>
              </div>
          </div>
        </div>

              <div class="modal fade" id="modal_for_palette_save_<%= a_save.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="#modal_for_palette_save_<%= a_save.id %>" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">

                    <div class="modal-header">
                      <h5 class="modal-title">Add Material</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">

                  <form action="/insert_element" method="post">
                    <div class="form-floating mb-3">
                      <select class="form-select" id="floatingSelect" aria-label="Floating label select example" name="query_room_id">
                      <% @list_of_rooms.each do |a_room|%>
                        <% if @the_project.id == a_room.project_id %>
                        <option value="<%=a_room.id%>"><%=a_room.name%></option>
                        <%end%>
                      <%end%>
                      </select>
                      <label for="floatingSelect">Select Space</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="element_name" placeholder="..." name="query_name">
                      <label for="element_name">Name</label>
                    </div>

                      <input type="hidden" name="query_material_id" value="<%= a_save.material_id %>">

                      <div class="row text-end">
                      <div class="col">
                        <button class="btn btn-outline-success btn-sm">
                            Add Material
                        </button>
                      </div>
                    </div>
                  </form>

                      
                    </div>

                     
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>

  <%#= render "/projects/add_material_from_palette" %>

  <% end %>

</div>