<div class="accordion accordion-flush" id="palettesaccordian">
  <% @list_of_palettes.each do |a_palette| %>
  
  <div class="accordion-item">
    
    <h2 class="accordion-header" id="<%= a_palette.id%>_<%=a_palette.palette_name%>">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#<%=a_palette.palette_name%>_<%=a_palette.id%>" aria-expanded="false" aria-controls="<%=a_palette.palette_name%>_<%=a_palette.id%>">
        <%= a_palette.palette_name%>
      </button>
    </h2>

    <div id="<%=a_palette.palette_name%>_<%=a_palette.id%>" class="accordion-collapse collapse" aria-labelledby="<%= a_palette.id%>_<%=a_palette.palette_name%>" data-bs-parent="#palettesaccordian">
      <div class="accordion-body"><%= a_palette.description %></div>
    </div>

  </div>

  <% end %>

</div>