<div>
  <div>
    <h1>
      Your Palettes
    </h1>
  </div>

<div>
  <div>
    <table>
      <tr>
        <th>
          User
        </th>

        <th>
          Name
        </th>

        <th>
          Description
        </th>

        <th>
          Saves count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>
      <% @list_of_palettes.each do |a_palette| %>
      <tr>
        <td>
          <%= a_palette.user.username %>
        </td>

        <td>
          <%= a_palette.palette_name %>
        </td>

        <td>
          <%= a_palette.description %>
        </td>

        <td>
          <%= a_palette.saves_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_palette.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_palette.updated_at) %> ago
        </td>

        <td>
          <a href="/palettes/<%= a_palette.id %>">
            Show details
          </a>
        </td>

        <td>
          <a class="btn btn-danger" href="/delete_palette/<%= a_palette.id %>"> <i class="far fa-trash-alt"></i></a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>


</div>

<hr>

<div>
  <div>
    <h2>
      Add a new palette
    </h2>

    <form action="/insert_palette" method="post">
      <div>
      <div>
        <input type="hidden" name="query_user_id" value="<%= session.fetch(:user_id) %>">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <button>
        Create palette
      </button>
    </form>
  </div>
</div>

<hr>
