<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
    <h2 class="card-title"><%= @the_palette.palette_name %></h2>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/delete_palette/<%= @the_palette.id %>" class="card-link">Delete Palette</a>
    <a href="#" class="card-link">Edit Palette</a>
  </div>
</div>
  </div>
</div>







<div>
  <div>
    <h1>
      Palette #<%= @the_palette.id %> details
    </h1>

    <div>
      <div>
        <a href="/palettes">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_palette/<%= @the_palette.id %>">
          Delete palette
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Created by
      </dt>
      <dd>
        <%= @the_palette.user_id %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @the_palette.name %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_palette.description %>
      </dd>

      <dt>
        Saves count
      </dt>
      <dd>
        <%= @the_palette.saves_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_palette.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_palette.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit palette
    </h2>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_palette.name %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_palette.description %>">
      </div>

      <button>
        Update palette
      </button>
    </form>
  </div>
</div>

<hr>
