<div>
  <div>
    <h1>
      Palette #<%= @the_palette.id %> details
    </h1>

    <div>
      <div>
        <a href="/palettes">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_palette/<%= @the_palette.id %>">
          Delete palette
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Material
      </dt>
      <dd>
        <%= @the_palette.material_id %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_palette.user_id %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @the_palette.name %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_palette.description %>
      </dd>

      <dt>
        Saves count
      </dt>
      <dd>
        <%= @the_palette.saves_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_palette.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_palette.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit palette
    </h2>

    <form action="/modify_palette/<%= @the_palette.id %>"  method="post" >
      <div>
        <label for="material_id_box">
          Material
        </label>

        <input type="text" id="material_id_box" name="query_material_id" value="<%= @the_palette.material_id %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_palette.user_id %>">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_palette.name %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_palette.description %>">
      </div>

      <div>
        <label for="saves_count_box">
          Saves count
        </label>

        <input type="text" id="saves_count_box" name="query_saves_count" value="<%= @the_palette.saves_count %>">
      </div>

      <button>
        Update palette
      </button>
    </form>
  </div>
</div>

<hr>
