<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
    <h2 class="card-title"><%= @the_palette.palette_name %></h2>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/delete_palette/<%= @the_palette.id %>" class="card-link">Delete Palette</a>
    <a href="#" class="card-link">Edit Palette</a>
  </div>
</div>
  </div>
</div>







<div>
  <div>
    <h1>
      Palette #<%= @the_palette.id %> details
    </h1>

    <div>
      <div>
        <a href="/palettes">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_palette/<%= @the_palette.id %>">
          Delete palette
        </a>
      </div>
    </div>

<hr>

<button type="button" class="btn btn-dark btn-sm" data-bs-toggle="modal" data-bs-target="#editpalette">
<i class="fas fa-plus-circle"></i> Update</button>

<%= render "/palettes/edit_palette_modal" %>
