<div>
  <div>
    <h1>
      Invitation #<%= @the_invitation.id %> details
    </h1>

    <div>
      <div>
        <a href="/invitations">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_invitation/<%= @the_invitation.id %>">
          Delete invitation
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Recipient
      </dt>
      <dd>
        <%= @the_invitation.recipient_id %>
      </dd>

      <dt>
        Project
      </dt>
      <dd>
        <%= @the_invitation.project_id %>
      </dd>

      <dt>
        Sender
      </dt>
      <dd>
        <%= @the_invitation.sender_id %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <%= @the_invitation.status %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_invitation.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_invitation.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit invitation
    </h2>

    <form action="/modify_invitation/<%= @the_invitation.id %>"  method="post" >
      <div>
        <label for="recipient_id_box">
          Recipient
        </label>

        <input type="text" id="recipient_id_box" name="query_recipient_id" value="<%= @the_invitation.recipient_id %>">
      </div>

      <div>
        <label for="project_id_box">
          Project
        </label>

        <input type="text" id="project_id_box" name="query_project_id" value="<%= @the_invitation.project_id %>">
      </div>

      <div>
        <label for="sender_id_box">
          Sender
        </label>

        <input type="text" id="sender_id_box" name="query_sender_id" value="<%= @the_invitation.sender_id %>">
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="query_status" value="<%= @the_invitation.status %>">
      </div>

      <button>
        Update invitation
      </button>
    </form>
  </div>
</div>

<hr>
