<div>
  <div>
    <h1>
      Projects
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <table>
      <tr>
        <th>
          Project name
        </th>

        <th>
          Created By
        </th>

        <th>
          Description
        </th>

        <th>
          Photo
        </th>

        <th>
          Collaborators
        </th>

        <th>
          Created
        </th>

        <th>
          Last Update
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_projects.each do |a_project| %>
         <%if a_project.user_id == session.fetch(:user_id)%>
      <tr>
        <td>
          <%= a_project.project_name %>
        </td>

        <td>
          <%= a_project.user.username %>
        </td>

        <td>
          <%= a_project.description %>
        </td>

        <td>
          <img src="<%= a_project.photo %>" width="100" height="100">
        </td>

        <td>
          <%= a_project.invitations_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_project.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_project.updated_at) %> ago
        </td>

        <td>
          <a href="/projects/<%= a_project.id %>">
            Show details
          </a>
        </td>
      </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new project
    </h2>

    <form action="/insert_project" method="post">
      <div>
        <label for="project_name_box">
          Project name
        </label>

        <input type="text" id="project_name_box" name="query_project_name">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="photo">
          Project Photo
        </label>

        <input type="file" id="photo" name="photo_upload">
      </div>

      <button>
        Create project
      </button>
    </form>
  </div>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
<i class="fas fa-plus-circle"></i> New Project
</button>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>