<div class="row fluid">
  <div class="col-md-4">

    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/projects" class="text-decoration-none">Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page"><strong><%= @the_project.project_name %></strong>
        </li>
      </ol>
    </nav>

  </div>

  <div class="col-md-8 text-end" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-1" role="group" aria-label="First group">
      <a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
        <button class="btn btn-outline-dark btn-sm"><i class="fas fa-swatchbook"></i></button>
      </a>
      
      <%= render "/palettes/palette_off_canvas" %>
    </div>

    <div class="btn-group me-1" role="group" aria-label="Second group">
      <a href="#editproject" data-bs-toggle="modal" data-bs-target="#editproject">
        <button class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></button>
      </a>

      <%= render "projects/edit_project_modal"%>
    </div>

     <div class="btn-group me-1" role="group" aria-label="Third group">
      <a href="/delete_project/<%= @the_project.id %>" class="text-decoration-none"><button class="btn btn-danger btn-sm">
        <i class="far fa-trash-alt"></i></button>
      </a>
    </div>
  </div>

</div>

<div class="row mb-3">
  <div class="col-md-1 align-self-center">
    <h3> Spaces </h3> 
  </div>

  <div class="col-md-2 align-self-center">
    <a href="#" data-bs-toggle="modal" data-bs-target="#addnewspace" style="color:black">
    <i class="fas fa-plus-circle"></i>
    </a>
  </div>
</div>

<%= render "rooms/new_space_modal" %>

<nav>

  <div class="nav nav-tabs" id="nav-tab" role="tablist">

    <% @the_project.spaces.each do |a_room| %>
      <% if @the_project.spaces.first == a_room %>
        <% active_class = "active"%>
      <% else %>
        <% active_class ="" %>
      <% end %>
        <button class="nav-link <%= active_class %>" id="<%= a_room.name %>_<%= a_room.id%>" data-bs-toggle="tab" data-bs-target="#Room<%= a_room.id %>" type="button" role="tab" aria-controls="Room<%= a_room.id %>" aria-selected="true">
          <strong><%= a_room.name %></strong>
        </button>
    <% end %>

  </div>

</nav>

<div class="tab-content" id="nav-tabContent">

  <% @the_project.spaces.each do |a_room| %>
    <% if @the_project.spaces.first == a_room %>
      <% active_class = "show active"%>
    <% else %>
      <% active_class = "" %>
    <% end %>

    <div class="tab-pane fade <%= active_class %>" id="Room<%= a_room.id %>" role="tabpanel" aria-labelledby="<%= a_room.name %>_<%= a_room.id%>">

      <div class="row mt-3">

      <div class="col" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
          <a href="/rooms/<%= a_room.id %>">
            <i class="fas fa-info-circle text-dark"></i>
          </a>
        </div>
        <div class="btn-group me-2" role="group" aria-label="Second group">
          <a href="/rooms/<%= a_room.id %>">
            <i class="fas fa-pen-square"></i>
          </a>
        </div>
        <div class="btn-group me-2" role="group" aria-label="Third group">
          <a href="/delete_room/<%= a_room.id %>">
            <i class="far fa-trash-alt text-danger"></i>
          </a> 
        </div>
        <div class="btn-group me-2" role="group" aria-label="Fourth group">
          <a href="#savetoelement" style="color: blue" data-bs-toggle="modal" data-bs-target="#savetoelement">
            <i class="fas fa-plus-circle"></i>
          </a>
        </div>
      </div>
      </div>

        <div class="row mt-2 g-2">
          <% a_room.elements.each do |an_element| %>
            <div class="col-md-3">
              <%= render "elements/element", { :the_element => an_element } %>
            </div>
          <% end %>
        </div> 

      </div>

    <%= render "/projects/add_material_modal", { :the_room => a_room } %>

  <% end %>
  </div>

<div>

</div>