<div class="row">
<div class="col-md-10">

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><span class="badge rounded-pill bg-dark"><a href="/projects" class="text-decoration-none link-light">Projects</a></span></li>
    <li class="breadcrumb-item active" aria-current="page"><strong><%= @the_project.project_name %></strong>
    </li>
  </ol>
</nav>
</div>

<div class="col-md-2">
<a href="/delete_project/<%= @the_project.id %>">
    <i class="far fa-trash-alt text-danger"></i>
</a>
</div>

<div>

<!-- Update project modal -->

<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editproject">
<i class="fas fa-edit"></i>
</button>

<div class="modal fade" id="editproject" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Update Project</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

      <form action="/modify_project/<%= @the_project.id %>"  method="post">
        <div class="row mb-3">
          <label for="project_name" class="col-sm-2 col-form-label">Project Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="project_name" name="query_project_name" value="<%= @the_project.project_name %>">
          </div>
        </div>

        <div>
          <input type="hidden" id="user_id_box" name="query_user_id" value="<%= session.fetch(:user_id) %>">
        </div>
  
        <div class="row mb-3">
          <label for="description" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="description" name="query_description" value="<%= @the_project.description %>">
          </div>
        </div>

        <div class="row mb-3">
          <label for="photo" class="col-sm-2 col-form-label">Photo</label>
          <div class="col-sm-10">
            <input type="file" class="form-control" id="photo" name="query_photo">
          </div>
        </div>

      <button type="submit" class="btn btn-primary">Update Project</button>
      </form>
      </div>

    </div>
  </div>
</div>

</div>

</div>

<div class="row">
<div class="col-md-2">
  <h3> Spaces </h3> 
  
  <! modal >

<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
<i class="fas fa-plus-circle"></i></button>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Create new space</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"> 

      <! body >

      <form action="/insert_room" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <input type="hidden" id="project_id_box" name="query_project_id" value="<%= @the_project.id %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

          <button>
            Create room
          </button>
      </form>
      </div>
    </div>
  </div>
</div>
</div>

<! modal >

</div>   

<hr>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">

  <% @the_project.spaces.each do |a_room| %>
    <% if @the_project.spaces.first == a_room %>
      <% active_class = "active"%>
    <% else%>
      <% active_class ="" %>
    <% end %>
    <button class="nav-link <%= active_class %>" id="<%= a_room.name %>_<%= a_room.id%>" data-bs-toggle="tab" data-bs-target="#Room<%= a_room.id %>" type="button" role="tab" aria-controls="Room<%= a_room.id %>" aria-selected="true"><strong><%= a_room.name %></strong></button>
  <% end %>

  </div>

</nav>
<div class="tab-content" id="nav-tabContent">

 <% @the_project.spaces.each do |a_room| %>
  <% if @the_project.spaces.first == a_room %>
    <% active_class = "show active"%>
  <% else %>
    <% active_class = "" %>
  <% end %>
  <div class="tab-pane fade <%= active_class %>" id="Room<%= a_room.id %>" role="tabpanel" aria-labelledby="<%= a_room.name %>_<%= a_room.id%>">

  <div>
    Decription: <%= a_room.description %>
  </div>

  <div>
    <a href="/rooms/<%= a_room.id %>">
      Show details
    </a>
  </div>

  <div>
    <a href="/delete_room/<%= a_room.id %>">
      Delete Room
    </a>
  </div>

  <div class="row g-2">
  <% a_room.elements.each do |an_element| %>
    <div class="col-3"><%= render "elements/element", { :the_element => an_element } %></div>
  <% end %>
  </div> 

</div>

<% end %>
</div>

<! off canvas >

<button class="btn btn-outline-dark btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="fas fa-swatchbook"></i></button>

<hr>

