<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @the_project.project_name %></li>
  </ol>
</nav>

<div>
  <a href="/delete_project/<%= @the_project.id %>">
    Delete project
  </a>

    <dl>
      <dt>
        Project name
      </dt>
      <dd>
        <%= @the_project.project_name %>
      </dd>

      <dt>
        Created By
      </dt>
      <dd>
        <%= @the_project.user.username %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_project.description %>
      </dd>

      <dt>
        Photo
      </dt>
      <dd>
        <img src="<%= @the_project.photo %>" width="200" height="200" class="rounded">
      </dd>

      <dt>
        Collaborators
      </dt>
      <dd>
        <%= @the_project.invitations_count %>
      </dd>

    </dl>
</div>

<hr>

<div>
  <h2> Spaces </h2>
</div>   

<hr>

<! modal >

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
<i class="fas fa-plus-circle"></i> New Space
</button>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Create new space</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"> 

      <! body >

      <form action="/insert_room" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <input type="hidden" id="project_id_box" name="query_project_id" value="<%= @the_project.id %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

          <button>
            Create room
          </button>
      </form>
      </div>
    </div>
  </div>
</div>

<! modal >

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">

  <% @the_project.spaces.each do |a_room| %>
    <% if @the_project.spaces.first == a_room %>
      <% active_class = "active"%>
    <% else%>
      <% active_class ="" %>
    <% end %>
    <button class="nav-link <%= active_class %>" id="<%= a_room.name %>_<%= a_room.id%>" data-bs-toggle="tab" data-bs-target="#Room<%= a_room.id %>" type="button" role="tab" aria-controls="Room<%= a_room.id %>" aria-selected="true"><%= a_room.name %></button>
  <% end %>

  </div>

</nav>
<div class="tab-content" id="nav-tabContent">

 <% @the_project.spaces.each do |a_room| %>
  <% if @the_project.spaces.first == a_room %>
    <% active_class = "show active"%>
  <% else %>
    <% active_class = "" %>
  <% end %>
  <div class="tab-pane fade <%= active_class %>" id="Room<%= a_room.id %>" role="tabpanel" aria-labelledby="<%= a_room.name %>_<%= a_room.id%>">

  <div>
    <%= a_room.description %>
  </div>

  <div>
    <a href="/rooms/<%= a_room.id %>">
      Show details
    </a>
  </div>

  <div>
    <a href="/delete_room/<%= a_room.id %>">
      Delete Room
    </a>
  </div>
  </div>

  <% a_room.elements.each do |an_element| %>
    <%= render "elements/element", { :the_element => an_element } %>
  <% end %>

<% end %>

</div>

 <form action="/modify_project/<%= @the_project.id %>"  method="post" >
      <div>
        <label for="project_name_box">
          Project name
        </label>

        <input type="text" id="project_name_box" name="query_project_name" value="<%= @the_project.project_name %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_project.user_id %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_project.description %>">
      </div>

      <div>
        <label for="photo_box">
          Photo
        </label>

        <input type="text" id="photo_box" name="query_photo" value="<%= @the_project.photo %>">
      </div>

      <button>
        Update Project
      </button>
    </form>
  </div>
</div>

<button class="btn btn-outline-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="fas fa-swatchbook"></i></button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Colored with scrolling</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>Try scrolling the rest of the page to see this option in action.</p>
  </div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel">Offcanvas with backdrop</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>.....</p>
  </div>
</div>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdroped with scrolling</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>Try scrolling the rest of the page to see this option in action.</p>
  </div>
</div>
