<div>
  <div>
    <h1>
      <%= @the_project.project_name %>
    </h1>

    <div>
      <div>
        <a href="/projects">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_project/<%= @the_project.id %>">
          Delete project
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Project name
      </dt>
      <dd>
        <%= @the_project.project_name %>
      </dd>

      <dt>
        Created By
      </dt>
      <dd>
        <%= @the_project.user.username %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_project.description %>
      </dd>

      <dt>
        Photo
      </dt>
      <dd>
        <img src="<%= @the_project.photo %>">
      </dd>

      <dt>
        Collaborators
      </dt>
      <dd>
        <%= @the_project.invitations_count %>
      </dd>

      <dt>
        Created
      </dt>
      <dd>
        <%= time_ago_in_words(@the_project.created_at) %> ago
      </dd>

      <dt>
        Last Update
      </dt>
      <dd>
        <%= time_ago_in_words(@the_project.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit project
    </h2>

    <form action="/modify_project/<%= @the_project.id %>"  method="post" >
      <div>
        <label for="project_name_box">
          Project name
        </label>

        <input type="text" id="project_name_box" name="query_project_name" value="<%= @the_project.project_name %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_project.user_id %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_project.description %>">
      </div>

      <div>
        <label for="photo_box">
          Photo
        </label>

        <input type="text" id="photo_box" name="query_photo" value="<%= @the_project.photo %>">
      </div>

      <button>
        Update project
      </button>
    </form>
  </div>
</div>

<hr>

<div>
  <h2> Rooms </h2>
</div>

<div>
  <div>
    <table>
      <tr>
        <th>
          Name
        </th>

        <th>
          Description
        </th>
      </tr>

      <% @the_project.spaces.each do |a_room| %>
      <tr>
        <td>
          <%= a_room.name %>
        </td>

        <td>
          <%= a_room.description %>
        </td>
        
        <td>
          <a href="/rooms/<%= a_room.id %>">
            Show details
          </a>
        </td>

        <td>
          <a href="/delete_room/<%=a_room.id%>">
          Delete Room
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<div>
  <div>
    <h2>
      Add a new room
    </h2>

    <form action="/insert_room" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <input type="hidden" id="project_id_box" name="query_project_id" value="<%= @the_project.id %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <button>
        Create room
      </button>
    </form>
  </div>
</div>