<div>
  <div>
    <h1>
      Room #<%= @the_room.id %> details
    </h1>

    <div>
      <div>
        <a href="/projects/<%=@the_room.project_id%>">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_room/<%= @the_room.id %>">
          Delete room
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_room.name %>
      </dd>

      <dt>
        Project
      </dt>
      <dd>
        <%= @the_room.project_id %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_room.description %>
      </dd>

      <dt>
        Elements count
      </dt>
      <dd>
        <%= @the_room.elements_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_room.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_room.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit room
    </h2>

    <form action="/modify_room/<%= @the_room.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_room.name %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_room.description %>">
      </div>


      <button>
        Update room
      </button>
    </form>
  </div>
</div>

<hr>

<h3>Elements</h3>

<div>
  <div>
    <table>
      <tr>
        <th>
          Name
        </th>

        <th>
        </th>
      </tr>

      <% @the_room.elements.each do |an_element| %>
      <tr>
        <td>
          <%= an_element.name %>
        </td>

        <td>
          <a href="/elements/<%= an_element.id %>">
            Show details
          </a>
        </td>

        <td>
        <a href="/delete_element/<%= an_element.id %>">
          Delete element
        </a>
      </div>
    </div>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new element
    </h2>

<form action="/insert_element" method="post">
<input type="hidden" id="room_id_box" name="query_room_id" value="<%= @the_room.id %>">
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Flooring" id="flooring_check" name="query_elements[]" value="flooring" checked>
  <label class="form-check-label" for="flooring_check">
    Flooring
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="Lighting" id="lighting_check" name="query_elements[]" value="lighting">
  <label class="form-check-label" for="lighting_check">
    Lighting
  </label>
</div>

  <button>
    Create element
  </button>
</form>