<div>
  <div>
    <h1>
      List of all palette saves
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new palette safe
    </h2>

    <form action="/insert_palette_safe" method="post">
      <div>
        <label for="material_id_box">
          Material
        </label>

        <input type="text" id="material_id_box" name="query_material_id">
      </div>

      <div>
        <label for="palette_id_box">
          Palette
        </label>

        <input type="text" id="palette_id_box" name="query_palette_id">
      </div>

      <button>
        Create palette safe
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Material
        </th>

        <th>
          Palette
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_palette_saves.each do |a_palette_safe| %>
      <tr>
        <td>
          <%= a_palette_safe.id %>
        </td>

        <td>
          <%= a_palette_safe.material_id %>
        </td>

        <td>
          <%= a_palette_safe.palette_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_palette_safe.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_palette_safe.updated_at) %> ago
        </td>

        <td>
          <a href="/palette_saves/<%= a_palette_safe.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
