<div class="container-fluid mb-2">
  <div class="row">
    <div class="col">
      <div class="card mat-card">
        <a href="/materials/<%= the_material.id %>"><img src="<%= the_material.photo_ref%>" class="card-img-top material" alt="..." style="border-top-left-radius: 10px; border-top-right-radius: 10px"></a>
          <div class="card-body">
            <p><small><strong><%= the_material.name %></strong></small></p>
            
            <div class="row text-start mt-2">

              <div class="col-md-8">
              <form action="/insert_palette_safe" method="post">
                <input type="hidden" name="query_material_id" value="<%= the_material.id %>">
                
                <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="query_palette_id">
                  
                  <% @current_user.palettes.each do |a_palette|%>
                      <option value="<%= a_palette.id %>"><%= a_palette.palette_name %></option>
                  <% end %>    
                </select>
              </div>

              <div class="col-md-2">
                <button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#save_index_material_<%=the_material.id%>">
                  <i class="far fa-bookmark"></i>
                </button>
              </div>
              </form>
            </div>

          </div>
      </div>
    </div>
  </div>
</div>