<%= search_form_for @q do |f| %>
  <p>Narrow results:</p>

  <div>
    <%= f.label :type_cont, "Material Type" %>
    <%= f.text_field :type_cont, :placeholder => "Select Material Type" %>
  </div>

  <div>
    <%= f.label :name_cont, "Material Name" %>
    <%= f.text_field :name_cont, :placeholder => "Enter Material Name" %>
  </div>

  <div>
    <%#= f.label :year_lteq, "Released before" %>
    <%#= f.text_field :year_lteq, :placeholder => "Year less than or equal to" %>
  </div>

  <%= f.submit :class => "btn btn-primary btn-block" %>
  
  <a href="/movies">Clear filters</a>
<% end %>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          Photo ref
        </th>

        <th>
          Manufacturer
        </th>

        <th>
          Name
        </th>

        <th>
          Residential use
        </th>

        <th>
          Commercial use
        </th>

        <th>
          Materials
        </th>

        <th>
          Price range
        </th>

        <th>
          Description
        </th>

        <th>
          Indoor outdoor
        </th>

        <th>
          Application
        </th>

        <th>
          Manufacturer note
        </th>

        <th>
          Flammability
        </th>

        <th>
          Hardness
        </th>

        <th>
          Availability
        </th>

        <th>
          Lead time
        </th>

        <th>
          Min units
        </th>

        <th>
          Country of origin
        </th>

        <th>
          Content
        </th>

        <th>
          Finish
        </th>

        <th>
          Construction
        </th>

        <th>
          Wood grade
        </th>

        <th>
          Wood figuring
        </th>

        <th>
          Saves count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_materials.each do |a_material| %>
      <tr>
        <td>
          <%= a_material.id %>
        </td>

        <td>
          <img src="<%= a_material.photo_ref%>">
        </td>

        <td>
          <%= a_material.manufacturer_id %>
        </td>

        <td>
          <%= a_material.name %>
        </td>

        <td>
          <%= a_material.residential_use %>
        </td>

        <td>
          <%= a_material.commercial_use %>
        </td>

        <td>
          <%= a_material.materials %>
        </td>

        <td>
          <%= a_material.price_range %>
        </td>

        <td>
          <%= a_material.description %>
        </td>

        <td>
          <%= a_material.indoor_outdoor %>
        </td>

        <td>
          <%= a_material.application %>
        </td>

        <td>
          <%= a_material.manufacturer_note %>
        </td>

        <td>
          <%= a_material.flammability %>
        </td>

        <td>
          <%= a_material.hardness %>
        </td>

        <td>
          <%= a_material.availability %>
        </td>

        <td>
          <%= a_material.lead_time %>
        </td>

        <td>
          <%= a_material.min_units %>
        </td>

        <td>
          <%= a_material.country_of_origin %>
        </td>

        <td>
          <%= a_material.content %>
        </td>

        <td>
          <%= a_material.finish %>
        </td>

        <td>
          <%= a_material.construction %>
        </td>

        <td>
          <%= a_material.wood_grade %>
        </td>

        <td>
          <%= a_material.wood_figuring %>
        </td>

        <td>
          <%= a_material.saves_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_material.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_material.updated_at) %> ago
        </td>

        <td>
          <a href="/materials/<%= a_material.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
