<div class="row mt-2">
  <div class="col-md-3">
  </div>

  <div class="col-md-6">
    <form class="d-flex">
      <input class="form-control me-2" type="search" name="query_search" placeholder="Suppl away..." aria-label="Search">
      <button class="btn btn-outline-dark" type="submit"><i class="fas fa-search"></i></button>
    </form>
  </div>
</div>

<%= search_form_for @q do |f| %>
  <p>Narrow results:</p>

  <div>
    <%= f.label :type_cont, "Material Type" %>
    <%= f.text_field :type_cont, :placeholder => "Select Material Type" %>
  </div>

  <div>
    <%= f.label :name_cont, "Material Name" %>
    <%= f.text_field :name_cont, :placeholder => "Enter Material Name" %>
  </div>

  <div>
    <%#= f.label :year_lteq, "Released before" %>
    <%#= f.text_field :year_lteq, :placeholder => "Year less than or equal to" %>
  </div>

  <%= f.submit :class => "btn btn-primary btn-block" %>
  
  <a href="/movies">Clear filters</a>
<% end %>

<hr>

<div class="row g-2">
<% @list_of_materials.each do |a_material| %>
  <div class="col-3"><%= render "materials/material", { :the_material => a_material } %></div>
<% end %>
</div>