<div class="row">
  <div class="col-md-6">
    <img class="img-fluid" style="border-radius: 10px" src="<%= @the_material.photo_ref %>">
  </div>

  <div class="col-md-6">
    <h4><%= @the_material.manufacturer.name %></h4>
    <h2><%= @the_material.name %></h2>
    <p><strong>Price Range:</strong> <%=@the_material.price_range%></p>

    <div>
      <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#save_to_palette"><i class="far fa-bookmark"></i></button>
    </div>

  </div>
</div>

<hr>

<%= render "/palette_saves/save_to_palette_modal" %>