<div>
  <div>
    <h1>
      <%= @the_material.name %>
    </h1>

    <div>
      <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#save_to_palette"><i class="far fa-bookmark"></i></button>
    </div>

    <div>
      <div>
        <a href="/materials">
          Go back
        </a>
      </div>

    </div>

    <dl>
      <dt>
        Photo ref
      </dt>
      <dd>
        <img src="<%= @the_material.photo_ref %>">
      </dd>

      <dt>
        Manufacturer
      </dt>
      <dd>
        <%= @the_material.manufacturer_id %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @the_material.name %>
      </dd>

      <dt>
        Residential use
      </dt>
      <dd>
        <%= @the_material.residential_use %>
      </dd>

      <dt>
        Commercial use
      </dt>
      <dd>
        <%= @the_material.commercial_use %>
      </dd>

      <dt>
        Materials
      </dt>
      <dd>
        <%= @the_material.materials %>
      </dd>

      <dt>
        Price range
      </dt>
      <dd>
        <%= @the_material.price_range %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_material.description %>
      </dd>

      <dt>
        Indoor outdoor
      </dt>
      <dd>
        <%= @the_material.indoor_outdoor %>
      </dd>

      <dt>
        Application
      </dt>
      <dd>
        <%= @the_material.application %>
      </dd>

      <dt>
        Manufacturer note
      </dt>
      <dd>
        <%= @the_material.manufacturer_note %>
      </dd>

      <dt>
        Flammability
      </dt>
      <dd>
        <%= @the_material.flammability %>
      </dd>

      <dt>
        Hardness
      </dt>
      <dd>
        <%= @the_material.hardness %>
      </dd>

      <dt>
        Availability
      </dt>
      <dd>
        <%= @the_material.availability %>
      </dd>

      <dt>
        Lead time
      </dt>
      <dd>
        <%= @the_material.lead_time %>
      </dd>

      <dt>
        Min units
      </dt>
      <dd>
        <%= @the_material.min_units %>
      </dd>

      <dt>
        Country of origin
      </dt>
      <dd>
        <%= @the_material.country_of_origin %>
      </dd>

      <dt>
        Content
      </dt>
      <dd>
        <%= @the_material.content %>
      </dd>

      <dt>
        Finish
      </dt>
      <dd>
        <%= @the_material.finish %>
      </dd>

      <dt>
        Construction
      </dt>
      <dd>
        <%= @the_material.construction %>
      </dd>

      <dt>
        Wood grade
      </dt>
      <dd>
        <%= @the_material.wood_grade %>
      </dd>

      <dt>
        Wood figuring
      </dt>
      <dd>
        <%= @the_material.wood_figuring %>
      </dd>

      <dt>
        Saves count
      </dt>
      <dd>
        <%= @the_material.saves_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_material.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_material.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<%= render "/palette_saves/save_to_palette_modal" %>