<div>
  <div>
    <h1>
      List of all manufacturers
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new manufacturer
    </h2>

    <form action="/insert_manufacturer" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="materials_count_box">
          Materials count
        </label>

        <input type="text" id="materials_count_box" name="query_materials_count">
      </div>

      <button>
        Create manufacturer
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Description
        </th>

        <th>
          Materials count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_manufacturers.each do |a_manufacturer| %>
      <tr>
        <td>
          <%= a_manufacturer.id %>
        </td>

        <td>
          <%= a_manufacturer.name %>
        </td>

        <td>
          <%= a_manufacturer.description %>
        </td>

        <td>
          <%= a_manufacturer.materials_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_manufacturer.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_manufacturer.updated_at) %> ago
        </td>

        <td>
          <a href="/manufacturers/<%= a_manufacturer.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
