<div class="row fluid">

  <div class="col-md-4">
    <h1>@<%= @current_user.username %></h1>
  </div>

  <div class="col-md-3 mt-3">
    <button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#edit_profile">Update Account <i class="fas fa-edit"></i></a>
  </div>

</div>

<div class="row fluid mt-4 mb-5">

  <div class="col-md-6">
    <h4>Approval Requests</h4>
  </div>

  <div class="col-md-6">
    <h4>Invitations</h4>

    <% @list_of_invitations.each do |an_invitation| %>

    <div class="card">
      <div class="card-body">
        <div class="row fluid">
          <div class="col-md-8">
            <strong>@<%= an_invitation.sender_id %></strong> wants you to collaborate on <%= an_invitation.project.project_name %>
          </div>

          <div class="col-md-2">
            <form action="/accept_invitation/<%= an_invitation.id %>" method="post">
              <button class="btn btn-outline-success btn-sm">
                Accept <i class="fas fa-check"></i>
              </Button>
            </form>
          </div>

          <div class="col-md-2">
            <form action="/decline_invitation/<%= an_invitation.id %>" method="post">
              <button class="btn btn-outline-danger btn-sm">
                Decline <i class="fas fa-times"></i>
              </Button>
            </form>
          </div>

        </div>
      </div>
    </div>

        <td>
          Status: <%= an_invitation.status %>
        </td>

    <% end %>
  </div>

</div>

<div class="row fluid mt-5">

  <div class="col-md-6">
    <h4>Projects</h4>
  </div>

  <div class="col-md-6">
    <h4>Palettes</h4>
  </div>

</div>