<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <!-- Connect Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Connect Bootstrap JavaScript and its dependencies -->
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Connect Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    
    <style>
     {
       border: thin red dashed
     }

     .test:hover{
       background-color: red

     }
    </style>

  </head>

  <body>

  <% if request.path != "/" %>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><strong>Suppl</strong></a>
   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <% if session.fetch(:user_id) != nil %>
      <a><strong>@<%= @current_user.username %></strong></a>
      <% end %>

      <div class="dropdown">
        <button class="btn" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="far fa-user-circle fa-2x"></i>
        </button>
  
      <ul class="dropdown-menu dropdown-menu-dark class dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton2">
        <% if session.fetch(:user_id) == nil %>
        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#signin"><strong>Log In</strong></a></li>
        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#signup">Sign Up</a></li>
        <% end %>

        <% if session.fetch(:user_id) != nil %>
        <li><a class="dropdown-item" href="/projects"><strong>Projects</strong></a></li>
        <li><a class="dropdown-item" href="/palettes"><strong>Palettes</strong></a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/user_sign_out">Log out</a></li>
        <% end %>
      </ul>
      </div>

<!-- Sign In Modal -->
<%= render "user_authentication/sign_in_modal" %>

<!-- Sign Up Modal -->
<%= render "user_authentication/sign_up_modal" %>
   
<% if request.path != "/" %>
<form class="d-flex">
  <input class="form-control me-2" type="search" name="query_search" placeholder="Suppl away..." aria-label="Search">
  <button class="btn btn-outline-dark" type="submit"><i class="fas fa-search"></i></button>
</form>
<% end %>


    </div>
  </div>
</nav>
<% end %>

<% if notice != nil %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <%= notice %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% end %>

<% if alert != nil %>
<div class="alert alert-danger" role="alert"><%= alert %></div>
<% end %>

    <div class="container pt-5">

      <%= yield %>

    </div>
  </body>
</html>
